<div class="save-control" *ngFor="let saveSlot of objectKeys(saveSlots)">
  <div class="save-title">Save Slot {{ saveSlot }}</div>
  <div class="image-container"></div>
  <div class="button-container">
    <button class="save-game" (click)="saveGame(saveSlot)">Save</button>
    <button *ngIf="saveSlotDoesntExist(saveSlot)" class="load-game" (click)="loadGame(saveSlot)">Load</button>
    <button *ngIf="saveSlotDoesntExist(saveSlot)" class="delete-game" (click)="deleteGame(saveSlot)">Delete</button>
  </div>
</div>