<div class="game-settings">
      <input type="checkbox" [checked]="allowMenuInGame" (change)="allowMenuInGame = !allowMenuInGame" />
      <!-- This will be much easier once matforms is used -->
      <div class="movement-section">
            <!-- TODO ngFor in here -->
            <div class="action-selection">
                  <span class="move-north">Move North: </span>
                  <button class="key-input-button" (click)="setAwaitingKey('moveNorth')">Select key</button>
                  <span class="selected-key">{{ gameSettingsService.getSelectedKeyName('moveNorth') }}</span>
            </div>
            <div class="action-selection">
                  <span class="move-east">Move East: </span>
                  <button class="key-input-button" (click)="setAwaitingKey('moveEast')">Select key</button>
                  <span class="selected-key">{{ gameSettingsService.getSelectedKeyName('moveEast') }}</span>
            </div>
            <div class="action-selection">
                  <span class="move-south">Move South: </span>
                  <button class="key-input-button" (click)="setAwaitingKey('moveSouth')">Select key</button>
                  <span class="selected-key">{{ gameSettingsService.getSelectedKeyName('moveSouth') }}</span>
            </div>
            <div class="action-selection">
                  <span class="move-west">Move West: </span>
                  <button class="key-input-button" (click)="setAwaitingKey('moveWest')">Select key</button>
                  <span class="selected-key">{{ gameSettingsService.getSelectedKeyName('moveWest') }}</span>
            </div>
      </div>
      <div *ngIf="gameStateService.awaitingKeyboardSetting" class="press-key-text">
            Please enter a key to set it to the action
            Press Escape to cancel
      </div>
      <button (click)="saveSettings()">Save settings</button>
      <button (click)="resetToDefaults()">Reset to defaults</button>
</div>