.character-section {
    border: solid 1px black;

    .armour, .weapons, .active-items, .active-buffs {
        padding: 5px;
        border: solid 1px black;

        .title {
            padding: 5px 0px;
            text-align: center;
        }

        .slot-name {
            display: inline-block;
            width: 100px;
            vertical-align: top;
            padding-top: 6px;
        }

        .equipped-slot {
            display: inline-block;
            min-width: 30px;
            height: 30px;
            border: solid 1px #8a8181;
            -moz-box-shadow:    inset 0 0 3px 3px #000000;
            -webkit-box-shadow: inset 0 0 3px 3px #000000;
            box-shadow:         inset 0 0 3px 3px #000000;

            &.clickable {
                cursor: pointer;
            }
        }
    }
}