<div class="character-section">
  <!-- Click on item on character to set in inventory -->

  <div class="active-items">
    <div class="active-item"><span class="slot-name">Active Item: </span>
      <span class="equipped-slot" (click)="removeActiveItem(equipmentManagerService.activeItem)">
        <img *ngIf="equipmentManagerService.activeItem && equipmentManagerService.activeItem.imageFileName"
             [src]="getImageSource(equipmentManagerService.activeItem)" title="{{equipmentManagerService.activeItem.name}}" />
      </span>
    </div>
  </div>

  <div class="active-buffs">
    <div class="active-buff"><span class="slot-name">Active Buff: </span>
      <span class="equipped-slot clickable">
        <img *ngIf="equipmentManagerService.activeBuff && equipmentManagerService.activeBuff.imageFileName"
             [src]="getImageSource(equipmentManagerService.activeBuff)" title="{{equipmentManagerService.activeBuff.name}}" />
      </span>
      <span class="buff-remaining">
        {{ equipmentManagerService.buffTimeRemaining }}
      </span>
    </div>
  </div>

  <div class="armour">
    <div class="title">Armour:</div>
    <div class="head">
      <span class="slot-name">Head: </span>
      <div class="equipped-slot clickable" (click)="removeArmour(equipmentManagerService.armour.head)">
        <img *ngIf="equipmentManagerService.armour.head && equipmentManagerService.armour.head.imageFileName"
          [src]="getImageSource(equipmentManagerService.armour.head)"
          title="{{equipmentManagerService.armour.head.name}}" />
        <span
          *ngIf="equipmentManagerService.armour.head && !equipmentManagerService.armour.head.imageFileName">
          {{equipmentManagerService.armour.head.name}}
        </span>
      </div>
    </div>

    <div class="arms">
      <span class="slot-name">Arms: </span>
      <div class="equipped-slot clickable" (click)="removeArmour(equipmentManagerService.armour.arms)">
        <img *ngIf="equipmentManagerService.armour.arms && equipmentManagerService.armour.arms.imageFileName"
          [src]="getImageSource(equipmentManagerService.armour.arms)"
          title="{{equipmentManagerService.armour.arms.name}}" />
        <span
          *ngIf="equipmentManagerService.armour.arms && !equipmentManagerService.armour.arms.imageFileName">
          {{equipmentManagerService.armour.arms.name}}
        </span>
      </div>
    </div>

    <div class="hands">
      <span class="slot-name">Hands: </span>
      <div class="equipped-slot clickable" (click)="removeArmour(equipmentManagerService.armour.hands)">
        <img *ngIf="equipmentManagerService.armour.hands && equipmentManagerService.armour.hands.imageFileName"
          [src]="getImageSource(equipmentManagerService.armour.hands)"
          title="{{equipmentManagerService.armour.hands.name}}" />
        <span
          *ngIf="equipmentManagerService.armour.hands && !equipmentManagerService.armour.hands.imageFileName">
          {{equipmentManagerService.armour.hands.name}}
        </span>
      </div>
    </div>

    <div class="torso">
      <span class="slot-name">Torso: </span>
      <div class="equipped-slot clickable" (click)="removeArmour(equipmentManagerService.armour.torso)">
        <img *ngIf="equipmentManagerService.armour.torso && equipmentManagerService.armour.torso.imageFileName"
          [src]="getImageSource(equipmentManagerService.armour.torso)"
          title="{{equipmentManagerService.armour.torso.name}}" />
        <span
          *ngIf="equipmentManagerService.armour.torso && !equipmentManagerService.armour.torso.imageFileName">
          {{equipmentManagerService.armour.torso.name}}
        </span>
      </div>
    </div>

    <div class="legs">
      <span class="slot-name">Legs: </span>
      <div class="equipped-slot clickable" (click)="removeArmour(equipmentManagerService.armour.legs)">
        <img *ngIf="equipmentManagerService.armour.legs && equipmentManagerService.armour.legs.imageFileName"
          [src]="getImageSource(equipmentManagerService.armour.legs)"
          title="{{equipmentManagerService.armour.legs.name}}" />
        <span
          *ngIf="equipmentManagerService.armour.legs && !equipmentManagerService.armour.legs.imageFileName">
          {{equipmentManagerService.armour.legs.name}}
        </span>
      </div>
    </div>

    <div class="boots">
      <span class="slot-name">Boots: </span>
      <div class="equipped-slot clickable" (click)="removeArmour(equipmentManagerService.armour.boots)">
        <img *ngIf="equipmentManagerService.armour.boots && equipmentManagerService.armour.boots.imageFileName"
          [src]="getImageSource(equipmentManagerService.armour.boots)"
          title="{{equipmentManagerService.armour.boots.name}}" />
        <span *ngIf="equipmentManagerService.armour.boots && !equipmentManagerService.armour.boots.imageFileName">
          {{equipmentManagerService.armour.boots.name}}
        </span>
      </div>
    </div>
    
    <!-- <div class="shield">
      <span class="slot-name">Shield: </span>
      <div class="equipped-slot clickable" (click)="removeArmour(equipmentManagerService.armour.shield)">
        <img *ngIf="equipmentManagerService.armour.shield && equipmentManagerService.armour.shield.imageFileName"
          [src]="getImageSource(equipmentManagerService.armour.shield)"
          title="{{equipmentManagerService.armour.shield.name}}" />
        <span *ngIf="equipmentManagerService.armour.shield && !equipmentManagerService.armour.shield.imageFileName">
          {{equipmentManagerService.armour.shield.name}}
        </span>
      </div>
    </div> -->
  </div>

  <div class="weapons">
    <div class="primary">
      <span class="slot-name">Weapon: </span>
      <div class="equipped-slot clickable" (click)="removeWeapon(equipmentManagerService.weapons.primary)">
        <img *ngIf="equipmentManagerService.weapons.primary && equipmentManagerService.weapons.primary.imageFileName"
             [src]="getImageSource(equipmentManagerService.weapons.primary)"
             title="{{equipmentManagerService.weapons.primary.name}}" />
        <span 
          *ngIf="equipmentManagerService.weapons.primary && !equipmentManagerService.weapons.primary.imageFileName">
          {{equipmentManagerService.weapons.primary.name}}
        </span>
      </div>
    </div>
  </div>

</div>