.character-section {
      border: solid 1px black;

      .armour, .weapons, .active-items {
            padding: 5px;

            .title {
                  text-align: center;
                  padding: 5px 0px;
            }

            border: solid 1px black;

            .slot-name {
                  display: inline-block;
                  width: 100px;
                  // TODO Bad juju
                  vertical-align: top;
                  padding-top: 6px;
            }

            .equipped-slot {
                  display: inline-block;
                  border: solid 1px #8a8181;
                  min-width: 30px;
                  height: 30px;
                  cursor: pointer;
                  -moz-box-shadow:    inset 0 0 3px 3px #000000;
                  -webkit-box-shadow: inset 0 0 3px 3px #000000;
                  box-shadow:         inset 0 0 3px 3px #000000;

            }
      }
}