.character-section {
      border: solid 1px black;

      .armour, .weapons, .active-items {
            border: solid 1px black;

            .title {
                  display: inline-block;
                  width: 100px;
            }

            .slot {
                  display: inline-block;
                  border: solid 1px red;
                  min-width: 30px;
                  height: 30px;
                  cursor: pointer;
            }
      }
}