.grid {
    display: flex;
    flex-direction: row;
    flex-flow: row-wrap;
    div {
        width: 200px;
        height: 200px;
        border: solid 1px black;
        background-color: grey;
    }
}