.dialogue-text {
      height: 176px;
      overflow: hidden;
}
.character-name {
      color: inherit;

      &.enemy {
            color: red;
      }

      &.npc {
            color: green;
      }

}
.dialogue {
      display: inline-block
}