<div class="game-container">
      <div class="top-menu">

      </div>
      <div class="area-container">
            <div *ngIf="isLoadingArea()" class="loading-overlay">
                  <div class="loading-text">
                        {{ loadingText }}
                  </div>
            </div>
            <app-area *ngIf="isAreaComponentAlive()"></app-area>
      </div>
      <div class="dialogue-area">
            <app-dialogue class="dialogue-box"></app-dialogue>
      </div>
      <div class="player-menu">
            <div class="left-controls">
                  <div class="direction-controls">
                        Move
                        <span class="north game-control" (click)="playerStateService.move('n')">N</span>
                        <!-- <span class="north-east">NE</span> -->
                        <span class="east game-control" (click)="playerStateService.move('e')">E</span>
                        <!-- <span class="south-east">SE</span> -->
                        <span class="south game-control" (click)="playerStateService.move('s')">S</span>
                        <!-- <span class="south-west">SW</span> -->
                        <span class="west game-control" (click)="playerStateService.move('w')">W</span>
                        <!-- <span class="north-west">NW</span> -->
                  </div>
            </div>
            <div class="right-controls">
                  <div class="direction-controls">
                        Direction
                        <span class="north game-control" (click)="playerStateService.changeDirection('n')">N</span>
                        <!-- <span class="north-east">NE</span> -->
                        <span class="east game-control" (click)="playerStateService.changeDirection('e')">E</span>
                        <!-- <span class="south-east">SE</span> -->
                        <span class="south game-control" (click)="playerStateService.changeDirection('s')">S</span>
                        <!-- <span class="south-west">SW</span> -->
                        <span class="west game-control" (click)="playerStateService.changeDirection('w')">W</span>
                        <!-- <span class="north-west">NW</span> -->
                  </div>
                  <div class="attack-controls">
                        <span class="game-control" (click)="playerStateService.attack()">Attack</span>
                  </div>
                  <div class="speech-controls">
                        <span class="speak game-control" (click)="playerStateService.speak()">Speak</span>
                  </div>
                  <div class="interact-controls">
                        <span class="game-control" (click)="playerStateService.interact()">Interact</span>
                  </div>
                  <div class="guard-controls">
                        <span class="guard game-control" (click)="playerStateService.guard()">Guard</span>
                  </div>
            </div>
            <div class="equipment-section">
                  <app-equipment></app-equipment>
            </div>
            <div class="inventory-section">
                  <app-inventory></app-inventory>
            </div>
            <div class="status">
                  <div class="health">
                        HP: {{ playerStateService.health }}/{{ playerStateService.maxHealth }}
                  </div>
                  <div class="armour">
                        Total Armour: {{ equipmentManagerService.armourTotal }}
                  </div>
                  <div class="weapon">
                        Weapon Damage: {{ equipmentManagerService.getWeaponDamage }}
                  </div>

                  <div class="status-effects">

                  </div>
            </div>
            <div class="menu-button">
                  <button (click)="openGameMenu()">Menu</button>
            </div>
      </div>
</div>
