.game-container {
    width: 750px;
    height: 747px;
    margin: auto;
    background-image: linear-gradient(to bottom right, #737373, #121010);
    border: solid #d1cdc6 2px;
    font-family: arial;
    font-weight: 500;
    color: rgb(209, 205, 198);

    .area-container {
        .loading-overlay {
            position: fixed;
            z-index: 11;
            // TODO Fix this
            width: 569px;
            height: 569px;
            background-color: black;

            .loading-text {
                position: absolute;
                width: 200px;
                height: 30px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 30px;
                text-align: centre;
            }
        }

        app-area {
            position: relative;
            display: inline-block;
            float: left;
            height: 560px;
            border: solid #000 4px;
        }
    }
    
    .dialogue-area {
        position: relative;
        display: inline-block;
        float: left;
        width: 567px;
        height: 177px;
        border: solid #000 1px;
        z-index: 2;
    }

    .player-menu {
        position: absolute;
        display: inline-block;
        height: 725px;
        padding: 10px;  
        border: solid #000 1px;
        
        .menu-button {
            width: 60px;
            height: 60px;
            background-color: white;
            position: absolute;
            bottom: 10px;
            right: 10px;
            cursor: pointer;

            .menu-icon {
                text-align: center;
                color: #000;
                // TODO Bad juju
                line-height: 3.7;
                border: solid #121010 2px;
            }
        }
    }

    .game-control {
        cursor: pointer;
        border: solid #5A4107 1px;
        border-radius: 5px;
        margin: 3px;
    }
}