.game-container {
    width: 568px;

    .area-container {
        .loading-overlay {
            position: fixed;
            z-index: 11;
            // TODO Fix this
            width: 569px;
            height: 569px;
            background-color: black;

            .loading-text {
                position: absolute;
                width: 200px;
                height: 30px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 30px;
                text-align: centre;
            }
        }

        app-area {
            position: relative;
            display: inline-block;
            float: left;
            height: 560px;
            border: solid #000 4px;
        }
    }
    
    .dialogue-area {
        position: relative;
        display: inline-block;
        float: left;
        width: 567px;
        height: 177px;
        border: solid #000 1px;
        z-index: 2;
        background-color: #cccc33;
    }

    .player-menu {
        position: absolute;
        display: inline-block;
        height: 725px;
        padding: 10px;  
        border: solid #000 1px;
        background-color: #ffff66;
    }

    .game-control {
        cursor: pointer;
        border: solid #5A4107 1px;
        border-radius: 5px;
        margin: 3px;
    }
}