.dead-container {
    font-weight: 700;
    
    .notice-container {
        display: flex;
        justify-content: center;
        color: #b72424;
        font-size: 30px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin: 15px;
        color: inherit;
    }
}
