<div class="main-menu">
  <div class="options-container">
    <div class="game-options">
      <div class="new-game">
        <a routerLink="/game" class="link">Start new game</a>
      </div>
      <div class="load-game">
        <span class="link"(click)="toggleSaveGameSection()">Load saved game</span>
        <div *ngIf="showSaveGames" class="save-games">
          <app-persistent-storage></app-persistent-storage>
        </div>
      </div>
    </div>
    <div class="game-settings">
      <a routerLink="/settings" class="link">Game settings</a>
    </div>
  </div>
</div>