.close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.message-section {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 90%;
    transform: translate(50%,-50%);
    text-align: center;
    font-weight: 700;
    font-family: arial;
    
    .message {
        padding: 10px;
        border-radius: 3px;
        color: #d1cdc6;
        font-size: 14px;
    }
}