.close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.message-section {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 90%;
    transform: translate(50%,-50%);
    font-family: arial;
    text-align: center;

    .message {
        padding: 10px;
        border-radius: 3px;
    }
}