<div class="game-menu-container">
  <div class="save-container">
    <!-- <app-game-saves
      (saveGame)="saveGame(saveSlot)"
      (loadGame)="loadGame(saveSlot)"
      (deleteGame)="deleteGame(saveSlot)">
    </app-game-saves> -->
    <app-persistent-storage></app-persistent-storage>
  </div>

  <div class="main-menu">
    <button class="main-menu-button" (click)="navigateToMainMenu()" mat-dialog-close>Return To Main Menu</button>
  </div>
  <div class="cancel">
    <button class="close" mat-dialog-close>Close</button>
  </div>
</div>
