<div class="grid-container">
      <div *ngFor="let key of areaStateService.locationKeys(areaStateService.locations)" class="grid-box">
            <!-- <div *ngIf="element">Has element</div> -->
            <div class="grid-item" *ngIf="areaStateService.locations[key]" [ngClass]="getDirectionClass(areaStateService.locations[key])">
                  <div class="character-type" [ngClass]="getCharacterType(areaStateService.locations[key])" [ngClass]="playerStateService.direction" >
                  <!-- <div style="color: red" > -->
                        <div class="character" >

                        </div>
                        <!-- {{ areaStateService.locations[key].name }} -->
                        
                        <!-- <div *ngIf="!areaStateService.locations[key]">{{ key + ' : ' }} Empty</div> -->
                        <!-- <div *ngIf="areaStateService.locations[key]">
                              {{ areaStateService.locations[key].hp }}HP
                              {{ areaStateService.locations[key].xp }}XP
                        </div> -->
                  </div>
            </div>
      </div>
</div>
<!-- <div class="totally">{{ enemy1 }}</div> -->
