<div class="grid-container" [ngClass]="{ 'show-room-shadow': gameSettingsService.showRoomShadow, 'battle-mode': gameStateService.battleMode }">
      <div *ngFor="let key of areaStateService.locationKeys(areaStateService.locations)" class="grid-box">
            <!-- <span style="position: absolute; color: white; z-index: 9999999"> {{ key }} </span> -->
            <!-- <div *ngIf="element">Has element</div> -->
            <div class="area-exit" *ngIf="areaStateService.locations[key].exitDestination" [ngClass]="locationExit(key, areaStateService.locations[key])">
            </div>
            <div class="grid-item" *ngIf="areaStateService.locations[key].element"
                  [ngClass]="getDirectionClass(areaStateService.locations[key].element)">

                  <div *ngIf="areaStateService.locations[key].element.type === ElementClass.object"
                        class="object">
                        <img [src]="getGridElementImageSource(areaStateService.locations[key].element)"
                              title="{{areaStateService.locations[key].element.name}}" />
                  </div>

                  <div *ngIf="areaStateService.locations[key].element.type !== ElementClass.object"
                        class="character-type"
                        [ngClass]="getCharacterType(areaStateService.locations[key].element)">

                        <div class="overlay" [ngClass]="getDeadClass(areaStateService.locations[key].element)">
                              <span *ngIf="areaStateService.locations[key].element.currentState === CharacterState.hunting" class="character-state hunting">!</span>
                              <span *ngIf="areaStateService.locations[key].element.currentState === CharacterState.returningToPosition" class="character-state return-to-position">?</span>
                              <span *ngIf="areaStateService.locations[key].element.currentState === CharacterState.wandering" class="character-state wandering">:)</span>
                              <span *ngIf="areaStateService.locations[key].element.currentState === CharacterState.asleep" class="character-state asleep">zzZZ</span>
                              <span *ngIf="areaStateService.locations[key].element.currentState === CharacterState.patrolling" class="character-state patrolling">...</span>
                        </div>
                  </div>
<!-- 
                  <div *ngIf="(areaStateService.locations[key].element.type === ElementClass.enemy || areaStateService.locations[key].element.type === ElementClass.npc) && 
                              (areaStateService.locations[key].element.currentState !== CharacterState.asleep && areaStateService.locations[key].element.currentState !== CharacterState.dead)"
                        [ngClass]="getDirectionClass(areaStateService.locations[key].element)"
                        class="view-area">
                        Hello
                  </div> -->
            </div>
      </div>
</div>
<!-- <div class="totally">{{ enemy1 }}</div> -->