.grid-container {
      width: 560px;
      display: flex;
      flex-wrap: wrap;

      &.show-room-shadow {
            -moz-box-shadow:    inset 0 0 20px 10px #000000;
            -webkit-box-shadow: inset 0 0 20px 10px #000000;
            box-shadow:         inset 0 0 20px 10px #000000;
      }

      .grid-box {
            z-index: -1;
            width: 80px;
            height: 80px;
            background-image: url("../../../assets/images/floor-style/wooden-floor-small.png");
            position: relative;
            
            .area-exit {
                  z-index: 1;
                  position: absolute;
                  
                  &.northExit, &.eastExit, &.southExit, &.westExit {
                        width: 100%;
                        height: 100%;
                        border-color: red;
                        background-image: url("../../../assets/images/grid-decoration/area-exit.png");
                  }

                  &.northExit {
                        transform: rotate(0deg);
                  }
                  
                  &.eastExit {
                        transform: rotate(90deg);
                  }
                  
                  &.southExit {
                        transform: rotate(180deg);
                  }
                  
                  &.westExit {
                        transform: rotate(270deg);
                  }

            }

            .grid-item {
                  z-index: 11;
                  width: 100%;
                  height: 100%;

                  &.direction-n {
                        transform: rotate(0deg);
                  }
                  
                  &.direction-e {
                        transform: rotate(90deg);
                  }
                  
                  &.direction-s {
                        transform: rotate(180deg);
                  }
                  
                  &.direction-w {
                        transform: rotate(270deg);
                  }

                  // TODO Move this into imageFileName property
                  .player {
                        background-image: url("../../../assets/images/elements/shadow-player.png");
                  }
                  .enemy {
                        background-image: url("../../../assets/images/elements/shadow-enemy.png");
                  }
                  .npc {
                        background-image: url("../../../assets/images/elements/shadow-npc.png");
                  }
                  .dead {
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: rgba(255, 0, 0, 0.6);
                  }
                  // &.direction-n {
                  //       border-top: solid red 2px;
                  // }
                  // &.direction-e {
                  //       border-right: solid red 2px;
                  // }
                  // &.direction-s {
                  //       border-bottom: solid red 2px;
                  // }
                  // &.direction-w {
                  //       border-left: solid red 2px;
                  // }
                  .character-type {
                        width: 80px;
                        height: 80px;
                        
                        .character {
                              width: 80px;
                              height: 80px;
                        }
                  }
            }
      }
}
