.grid-container {
      width: 560px;
      display: flex;
      flex-wrap: wrap;

      &.show-room-shadow {

            -moz-box-shadow:    inset 0 0 20px 10px #000000;
            -webkit-box-shadow: inset 0 0 20px 10px #000000;
            box-shadow:         inset 0 0 20px 10px #000000;
            
            &.battle-mode {
                  -moz-box-shadow:    inset 0 0 20px 10px #c20000;
                  -webkit-box-shadow: inset 0 0 20px 10px #c20000;
                  box-shadow:         inset 0 0 20px 10px #c20000;

            }
      }

      .grid-box {
            // z-index: -1;
            width: 80px;
            height: 80px;
            position: relative;
            
            .area-exit {
                  z-index: 1;
                  position: absolute;
                  
                  &.northExit, &.eastExit, &.southExit, &.westExit {
                        border-color: red;
                        background-image: inherit;
                        position: absolute;
                        overflow: hidden;
                        // width: 100%;
                        // height: 100%;
                        // border-color: red;
                        // background-image: url("assets/images/grid-decoration/area-exit.png");
                        width: 100%;
                        height: 10px;
                  }
                  
                  &.northExit {
                        top: -10px;
                        transform: rotate(0deg);
                  }
                  
                  &.eastExit {
                        left: 45px;
                        top: 35px;
                        transform: rotate(90deg);
                  }
                  
                  &.southExit {
                        bottom: -10px;
                        transform: rotate(180deg);
                  }
                  
                  &.westExit {
                        left: -45px;
                        top: 35px;
                        transform: rotate(270deg);
                  }
            }

            .door {

                  .left-door, .right-door {
                        position: absolute;
                        width: 50%;
                        height: 10px;
                        background-color: grey;
                        border-color: white;
                        border-style: solid;
                        border-width: 3px 3px 0px 3px;
                        box-sizing: border-box;
                        
                        &.green {
                              background-color: #22B14C;
                        }
                        
                        &.red {
                              background-color: #FF3C41;
                        }
                  }

                  @-moz-keyframes openLeftDoor { 100% { -moz-transform: translate(-40px, 0px); } }
                  @-webkit-keyframes openLeftDoor { 100% { -webkit-transform: translate(-40px, 0px); } }
                  @keyframes openLeftDoor { 100% { -webkit-transform: translate(-40px, 0px); } }

                  @-moz-keyframes openRightDoor { 100% { -moz-transform: translate(40px, 0px); } }
                  @-webkit-keyframes openRightDoor { 100% { -webkit-transform: translate(40px, 0px); } }
                  @keyframes openRightDoor { 100% { -webkit-transform: translate(40px, 0px); } }
                  
                  .left-door {
                        left: 0px;

                        &.opening {
                              animation-name: openLeftDoor;
                              animation-fill-mode:forwards;
                              animation-duration: 2s;
                        }

                        &.open {
                              display: none;
                        }
                  }

                  .right-door {
                        right: 0px;

                        &.opening {
                              animation-name: openRightDoor;
                              animation-fill-mode:forwards;
                              animation-duration: 2s;
                        }

                        &.open {
                              display: none;
                        }
                  }
                  
                  // &.north {
                  //       transform: rotate(0deg);
                  // }
                  
                  // &.east {
                  //       transform: rotate(90deg);
                  // }
                  
                  // &.south {
                  //       transform: rotate(180deg);
                  // }
                  
                  // &.west {
                  //       transform: rotate(270deg);
                  // }

            }
            
            .floor-style {
                  &.blood {
                        height: 80px;
                        width: 80px;
                        position: absolute;
                        border-radius: 50%;
                        background-color: rgba(255, 0, 0, 0.6);
                        z-index: 0;
                  }
            }
            
            .ground-item {
                  &.loot-bag {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        border-color: red;
                        background-image: url("assets/images/ground-effects/loot-bag.png");
                        z-index: 1;
                  }
            }

            .grid-item {
                  position: absolute;
                  z-index: 11;
                  width: 100%;
                  height: 100%;

                  &.direction-n {
                        transform: rotate(0deg);
                  }
                  
                  &.direction-e {
                        transform: rotate(90deg);
                  }
                  
                  &.direction-s {
                        transform: rotate(180deg);
                  }
                  
                  &.direction-w {
                        transform: rotate(270deg);
                  }

                  // TODO Move this into imageFileName property
                  .player {
                        background-image: url("assets/images/elements/shadow-player.png");
                  }
                  .enemy {
                        background-image: url("assets/images/elements/shadow-enemy.png");
                  }
                  .npc {
                        background-image: url("assets/images/elements/shadow-npc.png");
                  }
                  .dead {
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: rgba(255, 0, 0, 0.6);
                  }

                  // &.direction-n {
                  //       border-top: solid red 2px;
                  // }
                  // &.direction-e {
                  //       border-right: solid red 2px;
                  // }
                  // &.direction-s {
                  //       border-bottom: solid red 2px;
                  // }
                  // &.direction-w {
                  //       border-left: solid red 2px;
                  // }
                  .character-type {
                        width: 80px;
                        height: 80px;
                        
                        .character {
                              width: 80px;
                              height: 80px;
                        }

                        .overlay {

                              .character-state {
                                    position: absolute;
                                    top: 50%; right: 50%;
                                    transform: translate(50%,-50%);
                                    font-size: 34px;
                              }

                              .hunting {
                                    color: red;
                              }

                              .patrolling {
                                    color: yellow;
                              }

                              .return-to-position {
                                    color: orange;
                              }

                              .asleep {
                                    color: white;
                              }

                              .wandering {
                                    color: blue;
                              }
                        }
                  }

                  @-moz-keyframes moving-forwards { 
                        0% { -moz-transform: translateY(80px); } 
                        100% { -moz-transform: translateY(0px); } 
                  }
                  @-webkit-keyframes moving-forwards {
                        0% { -webkit-transform: translateY(80px); } 
                        100% { -webkit-transform: translateY(0px); } 
                  }
                  @keyframes moving-forwards { 
                        0% { -webkit-transform: translateY(80px);
                              transform: translateY(80px); } 
                        100% { -webkit-transform: translateY(0px);
                              transform: translateY(0px); } 
                  }

                  @-moz-keyframes swing { 
                        100% { -moz-transform: rotate(30deg) translate(30px, 0px) scale(0.5); } 
                  }
                  @-webkit-keyframes swing {
                        100% { -webkit-transform: rotate(30deg) translate(30px, 0px) scale(0.5); } 
                  }
                  @keyframes swing { 
                        100% { -webkit-transform: rotate(30deg) translate(30px, 0px) scale(0.5);
                              transform: rotate(30deg) translate(30px, 0px) scale(0.5); } 
                  }

                  @-moz-keyframes guard { 
                        from { -moz-transform: rotate(-10deg) scaleX(0.1) scaleY(0.1); }
                        to { -moz-transform: rotate(0deg) scaleX(1) scaleY(1); } 
                  }
                  @-webkit-keyframes guard {
                        from { -webkit-transform: rotate(-10deg) scaleX(0.1) scaleY(0.1); }
                        to { -webkit-transform: rotate(0deg) scaleX(1) scaleY(1); } 
                  }
                  @keyframes guard { 
                        from { -webkit-transform: rotate(-10deg) scaleX(0.1) scaleY(0.1);
                              transform: rotate(-10deg) scaleX(0.1) scaleY(0.1); }
                        to { -webkit-transform: rotate(0deg) scaleX(1) scaleY(1);
                              transform: rotate(0deg) scaleX(1) scaleY(1); } 
                  }

                  @-moz-keyframes receive-attack {
                        from { -moz-transform: scale(1) rotate(180deg); }
                        to { -moz-transform: scale(0.3) translate(-70px, 0px) rotate(180deg); } 
                  }
                  @-webkit-keyframes receive-attack {
                        from { -webkit-transform: scale(1) rotate(180deg); }
                        to { -webkit-transform: scale(0.3) translate(-70px, 0px) rotate(180deg); } 
                  }
                  @keyframes receive-attack {
                        from { -webkit-transform: scale(1) rotate(180deg);
                              transform: scale(1) rotate(180deg); }
                        to { -webkit-transform: scale(0.3) translate(-70px, 0px) rotate(180deg);
                              transform: scale(0.3) translate(-70px, 0px) rotate(180deg); } 
                  }

                  .swing-weapon, .receive-attack, .guard {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        
                        background-repeat: no-repeat;
                        // background-size: 80px 80px;
                  }

                  .moving-forwards {
                        z-index: 999999;
                        animation-name: moving-forwards;
                        
                        // Must match the same duration as in defaults config
                        animation-duration: 0.17s;
                  }

                  .swing-weapon {
                        background-image: url("assets/images/animations/slash.svg");
                        // width: 100%;
                        // height: 100%;
                        // position: absolute;
                        animation-name: swing;

                        
                        // Must match the same duration as in defaults config
                        animation-duration: 0.17s;
                        // background-repeat: no-repeat;
                        // background-position: right 0px top 0px;
                        background-position: right 0px top 0px;
                        background-size: 80px 80px;
                  }
                  
                  .guard {
                        background-image: url("assets/images/animations/guard.svg");
                        // // width: 100%;
                        // // height: 100%;
                        // // position: absolute;
                        animation-name: guard;
                        
                        // // Must match the same duration as in defaults config
                        animation-duration: 0.17s;
                        // background-repeat: no-repeat;
                        // background-position: right 0px top 0px;
                        background-position: right 0px top 0px;
                        background-size: 80px 80px;
                  }
                  
                  .receive-attack {
                        background-image: url("assets/images/animations/receive-attack.svg");
                        // width: 100%;
                        // height: 100%;
                        // position: absolute;

                        // transform: rotate(225deg);
                        // transform-origin: 50% 25%;

                        animation-name: receive-attack;
                        
                        // Must match the same duration as in defaults config
                        animation-duration: 0.17s;
                        // background-repeat: no-repeat;
                        background-position: right 0px top -10px;
                        // background-position: right 0px top 0px;
                        background-size: 160px 160px;
                  }

                  // .view-area {
                  //       border: solid white 1px;
                  //       background-color: red;
                  //       width: 125%;
                  //       height: 125%;
                  //       transform: rotate(45deg);
                  //       position: absolute;
                  //       top: -125%;
                  //       left: -12.5%;
                  // }
            }
      }
}
